In [1]:
print("Started")
a = 1000
b = 2000
print("a is big")
print("b is big")
print("ended")
# Eiter a has to be big or b has to big. we have to stop executing one statement

Started
a is big
b is big
ended

In [3]:
print("Started")
a = 1000
b = 2000
if True:
    print("a is big")
else:
    print("b is big")
print("ended")

Started
a is big
ended

In [5]:
print("Started")
a = 1000
b = 2000
if False:
    print("a is big")
else:
    print("b is big")
print("ended")

Started
b is big
ended

In [7]:
print("Started")
a = 1000
b = 2000
if bool(20):
    print("a is big")
else:
    print("b is big")
print("ended")

Started
a is big
ended

In [9]:
print("Started")
a = 1235
if bool(a):
    print("a is big")
else:
    print("b is big")
print("ended")

Started
a is big
ended

In [11]:
print("Started")
a = 0
if bool(a):
    print("a is big")
else:
    print("b is big")
print("ended")

Started
b is big
ended

In [13]:
print("Started")
a = 1235
if a: # Internally converts bool(a) 
    print("a is big")
else:
    print("b is big")
print("ended")

Started
a is big
ended

In [15]:
if 19: # bool(19):True
    print("HEllo")
print("hi")

HEllo
hi

In [17]:
if 19: # bool(19):True
    print("HEllo")
else:
    print("hi")

HEllo

In [19]:
if 0: 
    print("HEllo")
else:
    print("hi")

hi

In [23]:
value = input("Enter a value:")
print(len(value))

Enter a value: python

6

In [25]:
value = input("Enter a value:")
print(len(value))

Enter a value: Hyderabad

9

In [27]:
value = input("Enter a value:")
print(len(value))

Enter a value:

0

In [31]:
value = input("Enter a value:")
print(type(value))

Enter a value: 200

<class 'str'>

In [33]:
value = float(input("Enter a value:"))
print(len(value))

Enter a value: al

ValueError: could not convert string to float: 'al'

### Value1, value2: value1+value2 where value1 or value2 can be empty then it should considered as 0

In [38]:
value1=input("enter value1:")
value2=input("enter value2:")
if value1=="":#False "23"==""
    value1=0
else:
    value1 = float(value1)
if value2=="":# "" == "" True
    value2=0
else:
    value2=float(value2)
print(value1+value2)

enter value1: 23
enter value2:

23.0

In [40]:
#value1, value2: value1+value2. 
value1=input("enter value1:")
value2=input("enter value2:")
if value1=="":#True ""==""
    value1=0
else:
    value1 = float(value1)
if value2=="":# "56" == "" False
    value2=0
else:
    value2=float(value2)
print(value1+value2)

enter value1:
enter value2: 56

56.0

In [42]:
bool("")

False

In [44]:
bool("125")

True

In [5]:
#value1, value2: value1+value2. 
value1=input("enter value1:")
value2=input("enter value2:")
if value1:
    value1=float(value1)
else:
    value1 = 0
if value2:
    value2=float(value2)
else:
    value2=0
print(value1+value2)

enter value1: 2
enter value2: 9

11.0

In [13]:
value1 = input("enter value1:")
value2 = input("enter value2:")
if value1 == '' :
    value1 = 0
    sum_value = int(value1)+int(value2)
    print(sum_value)
elif value2 == '':
  value2 =0
  sum_value = int(value1)+int(value2)
  print(sum_value)
else:
  sum_value = int(value1)+int(value2)
  print(sum_value)

enter value1: 20
enter value2:

20

In [ ]:
value1 = input("enter value1:")
value2 = input("enter value2:")
if value1 == '' :
    value1 = 0
    sum_value = int(value1)+int(value2)
    print(sum_value)
elif value2 == '':
  value2 =0
  sum_value = int(value1)+int(value2)
  print(sum_value)
else:
  sum_value = int(value1)+int(value2)
  print(sum_value)

In [17]:
value1 = input("enter value1:")
value2 = input("enter value2:")
if value1 == '' :
    value1 = 0
    sum_value = int(value1)+int(value2)
    print(sum_value)
elif value2 == '':
  value2 =0
  sum_value = int(value1)+int(value2)
  print(sum_value)
else:
  sum_value = int(value1)+int(value2)
  print(sum_value)

enter value1:
enter value2: 65

65

In [19]:
value1 = input("enter value1:")
value2 = input("enter value2:")
if value1 == '' :
    value1 = 0
    sum_value = int(value1)+int(value2)
    print(sum_value)
elif value2 == '':
  value2 =0
  sum_value = int(value1)+int(value2)
  print(sum_value)
else:
  sum_value = int(value1)+int(value2)
  print(sum_value)

enter value1: 36
enter value2: 35

71

a=1000
b=2000

```
1.add
2.sub
3.mul
4.division
Enter an option: 1  : 1000+2000,
```

```
1.add
2.sub
3.mul
4.division
Enter an option: 2  : 1000-2000,
```

```
1.add
2.sub
3.mul
4.division
Enter an option: 3  : 1000*2000,
```

```
1.add
2.sub
3.mul
4.division
Enter an option: 4  : 1000/2000,
```

```
1.add
2.sub
3.mul
4.division
Enter an option: 5. if the user enters other numbers: we need to show the below message
PLEASE ENTER VALID OPTION
```

In [12]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")

option:
	1.add
	2.sub
	3.mul
	4.division

In [16]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")
option = input("Enter the option number:")

option:
	1.add
	2.sub
	3.mul
	4.division

Enter the option number: 1

In [22]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")
option = input("Enter the option number:")
if option == 1: #"3"==1: False
    print(a+b)
if option == 2: #"3"==2: False
    print(a-b)
if option == 3: #"3"==3: False
    print(a*b)
if option == 4: #"3"==4: False
    print(a/b)
print("Thankyou")

option:
	1.add
	2.sub
	3.mul
	4.division

Enter the option number: 3

Thankyou

In [24]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")
option = input("Enter the option number:")
if option == "1":  #"3"=="1": False
    print(a+b)
if option == "2": #"3"=="2": False
    print(a-b)
if option == "3": #"3"=="3": True
    print(a*b)
if option == "4": #"3"=="4": False
    print(a/b)
print("Thankyou")

option:
	1.add
	2.sub
	3.mul
	4.division

Enter the option number: 3

2000000
Thankyou

In [26]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")
option = input("Enter the option number:")
if option == "1":  #"6"=="1": False
    print(a+b)
if option == "2": #"6"=="2": False
    print(a-b)
if option == "3": #"6"=="3": False
    print(a*b)
if option == "4": #"6"=="4": False
    print(a/b)
print("Thankyou")

option:
	1.add
	2.sub
	3.mul
	4.division

Enter the option number: 6

Thankyou

In [28]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")
option = input("Enter the option number:")#1
if option == "1":  #"1"=="1": True
    print(a+b)
if option == "2": #"1"=="2": False
    print(a-b)
if option == "3": #"1"=="3": False
    print(a*b)
if option == "4": #"1"=="4": False
    print(a/b)
else:
    print("Enter valid option")
print("Thankyou")

option:
	1.add
	2.sub
	3.mul
	4.division

Enter the option number: 1

3000
Enter valid option
Thankyou

In [30]:
a = 1000
b = 2000
print("option:\n\t1.add\n\t2.sub\n\t3.mul\n\t4.division")
option = input("Enter the option number:")#1
if option == "1":  #"1"=="1": True
    print(a+b)
elif option == "2": #"1"=="2": False
    print(a-b)
elif option == "3": #"1"=="3": False
    print(a*b)
elif option == "4": #"1"=="4": False
    print(a/b)
else:
    print("Enter valid option")
print("Thankyou")

option:
	1.add
	2.sub
	3.mul
	4.division

Enter the option number: 1

3000
Thankyou

### Take a number from the user and check whether it is even or odd

In [33]:
number = input("Enter number:")
number = float(number)
if number%2 == 0:
    print("Even")
else:
    print("Odd")

Enter number: 23

Odd

In [37]:
number = input("Enter number:")
number = float(number)
if number%2 == 0:
    print("Even")
else:
    print("Odd")

Enter number:

ValueError: could not convert string to float: ''

In [39]:
# Nested if 
number = input("Enter number:")# 24
if number:#bool("24"): True
    number = float(number)# "24"=24.0
    if number%2 == 0:# 24.0%2=0, 0==0: True
        print("Even")
    else:
        print("Odd")
else: 
    print("Invalid number")

Enter number: 24

Even

In [43]:
# Nested if 
number = input("Enter number:")# ""(empty string)
if number:#bool(""): False
    number = float(number)
    if number%2 == 0:
        print("Even")
    else:
        print("Odd")
else: 
    print("Invalid number")

Enter number:

Invalid number

In [1]:
number = 12
if number%2 ==0:
    print("Even")
else: 
    print("Odd")

Even

In [5]:
number = 13
print("Even" if number%2==0 else "odd")

odd

In [7]:
all([True,True,True])

True

In [11]:
all((True,True,False))

False

In [13]:
any([True,False,False])

True