In [17]:
a = 1000
b = 2000
print(a+b)

3000

In [19]:
a = input("enter a value:")
b = input("enter a value:")
print(a+b)

enter a value: 1000
enter a value: 2000

10002000

In [21]:
a = input("enter a value:")
print(a,type(a))

enter a value: 1000

1000 <class 'str'>

In [23]:
a = input("enter a value:")
print(a,type(a))

enter a value: ash

ash <class 'str'>

In [25]:
a = input("enter a value:")
print(a,type(a))

enter a value: [1,2,3,4,5]

[1,2,3,4,5] <class 'str'>

In [27]:
a = input("enter a value:")
print(a,type(a))

enter a value: (1,2,3,4)

(1,2,3,4) <class 'str'>

In [29]:
a = input("enter a value:")
print(a,type(a))

enter a value: {1,2,3,4}

{1,2,3,4} <class 'str'>

In [31]:
# the input internally converts to a string
a="[1,2,3,4]"
print(a,type(a))
b = '(1,2,3,4)'
print(b,type(b))
c = "{1,2,3,4}"
print(c,type(c))

[1,2,3,4] <class 'str'>
(1,2,3,4) <class 'str'>
{1,2,3,4} <class 'str'>

In [35]:
a=input("Enter a number1:")
b=input("Enter a number20:")
print(a,type(a))
print(b,type(b))
res1 = a+b # concatenation
print(res1)
a = int(a)
b = int(b)
print(a,type(a))
print(b,type(b))
res2 = a+b # summation
print(res2)

Enter a number1: 123
Enter a number20: 1246

123 <class 'str'>
1246 <class 'str'>
1231246
123 <class 'int'>
1246 <class 'int'>
1369

In [7]:
# take two numbers from the user and do all arthematic operations(+,-,*,/,//,%)
a=input("Enter a number1:")
b=input("Enter a number20:")
a = int(a)
b = int(b)
sum = a+b
sub = a-b
multi = a*b
division = a/b
floor_div = a//b
exponent = a**b
modulus = a%b
print(sum)
print(sub)
print(division)
print(floor_div)
print(exponent)
print(modulus)

Enter a number1: 12
Enter a number20: 2

14
10
6.0
6
144
0

In [9]:
a=input("Enter a number1:")
b=input("Enter a number2:")
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)
# It is better to convert to float instead of int. If we don't convert to float, we can't perform operations other than summation

Enter a number1: 12.345
Enter a number20: 5.6

ValueError: invalid literal for int() with base 10: '12.345'

In [11]:
a=input("Enter a number1:")
b=input("Enter a number20:")
a = float(a)
b = float(b)
sum = a+b
sub = a-b
multi = a*b
division = a/b
floor_div = a//b
exponent = a**b
modulus = a%b
print(sum)
print(sub)
print(division)
print(floor_div)
print(exponent)
print(modulus)

Enter a number1: 12.1543
Enter a number20: 123

135.1543
-110.8457
0.09881544715447153
0.0
2.6410951972091877e+133
12.1543

In [13]:
# Instead of converting separately, we can perform the conversion while providing the input, as shown below
a=float(input("Enter a number1:"))
b=float(input("Enter a number20:"))
sum = a+b
sub = a-b
multi = a*b
division = a/b
floor_div = a//b
exponent = a**b
modulus = a%b
print(sum)
print(sub)
print(division)
print(floor_div)
print(exponent)
print(modulus)

Enter a number1: 12.358
Enter a number20: 123

135.358
-110.642
0.10047154471544716
0.0
2.0399873673649383e+134
12.358