## Set Functions

In [1]:
s = {10,20,30,40}

* In set we can give int, float, boolean, none, tuple
* We can't give list and dictionary in set because they are mutable objects and can't be hashable internally.
* We can't give set in set because set is also unhashable object.
* Set is a collection of immutable elements.
* Set is mutable.
* It doesn't have indexing object.

In [4]:
s = {10,12.34,True,None,(1,2,3,4)}

In [6]:
s = {[1,2,3,4]}

TypeError: unhashable type: 'list'

In [8]:
s = {{'name':'jay'}}

TypeError: unhashable type: 'dict'

In [10]:
s = {{1,2,3,4},10,20}

TypeError: unhashable type: 'set'

In [13]:
s = {10,20,30,40}
print(s[0])

TypeError: 'set' object is not subscriptable

In [15]:
s = {10,20,30,40}
for i in s:
    print(i)

40
10
20
30

In [21]:
from copy import deepcopy
s1 = {10,20,30,40}
s2 = s1
s3 = s1.copy()
s4 = deepcopy(s1)
s1.add(100)
print('s1=',s1)
print('s2=',s2)
print('s3=',s3)
print('s4=',s4)

s1= {100, 40, 10, 20, 30}
s2= {100, 40, 10, 20, 30}
s3= {40, 10, 20, 30}
s4= {40, 10, 20, 30}

In [25]:
s1 = {1000,(100,200,300),45.23}
s2 = s1.copy()
s3 = deepcopy(s1)
for i in s1:
    print(i, id(i))
print('*'*20)
for i in s2:
    print(i,id(i))
print('*'*20)
for i in s3:
    print(i,id(i))
print('*'*20)

1000 1886872780560
(100, 200, 300) 1886874245824
45.23 1886814345648
********************
1000 1886872780560
(100, 200, 300) 1886874245824
45.23 1886814345648
********************
1000 1886872780560
(100, 200, 300) 1886874245824
45.23 1886814345648
********************

In [29]:
print(dir(s1))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [31]:
"""
'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 
'intersection_update', 'isdisjoint', 'issubset', 'issuperset',
'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'
"""

"\n'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'\n"

In [33]:
s1 = {1000,200,3000}
s2 = s1.add(4000)
print(s1,s2)
s3 = {1000,200,3000}
s4 = s3.update(4000)
print(s3,s4)

{1000, 4000, 3000, 200} None

TypeError: 'int' object is not iterable

In [35]:
s1 = {1000,200,3000}
s2 = s1.add(4000)
print(s1,s2)
s3 = {1000,200,3000}
s4 = s3.update({1,2,3})
print(s3,s4)

{1000, 4000, 3000, 200} None
{1, 2, 3, 3000, 1000, 200} None

#### add() and update() returns None both methods adds to the exsisting set.

In [38]:
s1 = {1000,200,3000}
s2 = s1.add('python')
print(s1,s2)
s3 = {1000,200,3000}
s4 = s3.update('python')
print(s3,s4)

{1000, 'python', 3000, 200} None
{'p', 1000, 200, 'y', 't', 'n', 'o', 3000, 'h'} None

### clear()
* clears the given set and returns None

In [43]:
s1 = {1000,200,300,400}
s2 =s1
s3 = s1.clear()
print(s1)
print(s2)
print(s3)

set()
set()
None

### difference()
* set(A) = {1,2,3,4,5}
* set(B) = {4,5,6,7,8,9}
* set(A)- set(B) = {1, 2, 3} i.e; elements present only in set(A)
* set(B) - set(A) = {8, 9, 6, 7} i.e; elements present only in set(B)

In [53]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s1.difference(s2)
s4 = s2.difference(s1)
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 6, 7}

### difference_update()
* updates the set and returns None.
* see below example for better understanding.

In [56]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s1.difference_update(s2)
print(s1)
print(s2)
print(s3)

{1, 2, 3}
{4, 5, 6, 7, 8, 9}
None

### symmetric_difference()
* It common elements from both sets will be removed and add the both sets into other set.
* s1 -s2 U s2 - s1

In [60]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s1.symmetric_difference(s2)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 6, 7, 8, 9}

In [64]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s2.symmetric_difference(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 6, 7, 8, 9}

### intersection()
* gives common elements.

In [67]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s2.intersection(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}

### intersection_update()
* common elements will be updated to one of the set and returns None.

In [69]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s2.intersection_update(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5}
None

### Union()
* All the elements will be combine and gives a seperate set.

In [73]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s2.union(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s2.update(s1)
print(s1)
print(s2)
print(s3)
# here update() acts as union_update. so we don't have union_update method.

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
None

### discard()
* Discard will remove the actual object from actual set and returns None.

In [82]:
s1 = {1000,200,300,400}
s2 =s1.discard(1000)
print(s1)
print(s2)

{300, 400, 200}
None

In [84]:
s1 = {1000,200,300,400}
s2 =s1.remove(1000)
print(s1)
print(s2)

{300, 400, 200}
None

In [92]:
s1 = {1000,200,300,400}
s2 =s1.discard(5000)
print(s1)
print(s2)

{1000, 300, 400, 200}
None

In [90]:
s1 = {1000,200,300,400}
s2 =s1.remove(5000)
print(s1)
print(s2)

KeyError: 5000

### pop()
* Randomly removes the elements. which element is removed that element will be returned.

In [96]:
s1 = {1000,200,300,400}
s2 =s1.pop()
print(s1)
print(s2)

{300, 400, 200}
1000

In [102]:
s1 = {50000,1000,200,300,400}
s2 =s1.pop()
print(s1)
print(s2)

{400, 1000, 300, 200}
50000

In [104]:
s1 = {8694,1000,200,300,400}
s2 =s1.pop()
print(s1)
print(s2)

{8694, 1000, 300, 200}
400

### issubset()
* checks if elements of one set is subset of other set.

In [107]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s2.issubset(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
False

In [109]:
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5,6,7,8,9}
s3 = s1.issubset(s2)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
True

### superset()

In [112]:
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5,6,7,8,9}
s3 = s2.issuperset(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
True

### isdisjoint()

In [116]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9}
s3 = s2.isdisjoint(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{8, 9, 6, 7}
True