In [1]:
a = "10"
b = "20"
print(a+b)

1020

In [3]:
# Type casting = Converting from one datatype to other datatype
# Here str is converted to int
a = "10"
b = "20"
a = int(a)
b = int(b)
print(a+b)

30

In [15]:
# *, /, //,%
a = "135"
b = "20"
a = int(a)
b = int(b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

2700
6.75
6
15

In [20]:
a= 10
print(a,type(a))
b=float(a)
print(b,type(b))

10 <class 'int'>
10.0 <class 'float'>

In [22]:
a= 10
print(a,type(a))
b=str(a)
print(b,type(b))

10 <class 'int'>
10 <class 'str'>

In [28]:
s= "python"
print(s,type(s))
s1=list(s)
print(s1,type(s1))

python <class 'str'>
['p', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [30]:
s= "python"
print(s,type(s))
s1=tuple(s)
print(s1,type(s1))

python <class 'str'>
('p', 'y', 't', 'h', 'o', 'n') <class 'tuple'>

In [34]:
a=1000
print(list(a))# If you want to convert to list or tuple then objects should be iterable objects.

TypeError: 'int' object is not iterable

In [36]:
a = "12a"
b = int(a)
print(b)

ValueError: invalid literal for int() with base 10: '12a'

In [38]:
a = "12a"
b = int(a,16)
print(b)

298

In [40]:
# Number systems
"""
binary: 2 -> 0,1
octo: 8 -> 0,1,2,3,4,5,6,7,8
decimal:10 ->0,1,2,3,4,5,6,7,8,9
hexadecimal:16 ->0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
"""
print(int("12"))
print(2*10**0+1*10**1)

12
12

In [42]:
print(int("12",8))
print(2*8**0+1*8**1)

10
10

In [5]:
print(int("12df",16))
print(15*16**0+13*16**1+2*16**2+1*16**3)

4831
4831

In [7]:
a="12.34"
b=int(float(a))
print(b)

12

In [10]:
print(int("12df",12))# gets value error because for base 12 we will have (0,1,2,3,4,5,6,7,8,9,a,b) f is not in the those numbers.

ValueError: invalid literal for int() with base 12: '12df'

In [14]:
print(int("12dfg",17))
print(16*17**0+15*17**1+13*17**2+2*17**3+1*17**4)

97375
97375

In [16]:
print(int("12dfy",35))

1602859

In [18]:
print(int("12dfy",37))

ValueError: int() base must be >= 2 and <= 36, or 0

In [20]:
a = "12.34"
print(int(a))

ValueError: invalid literal for int() with base 10: '12.34'

In [22]:
 int?

Init signature: int(self, /, *args, **kwargs)
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant, Handle

In [24]:
a = "12.34"
b = float(a) 
print(int(b))
print(4*(10**-2)+3*10*-1+2*10**0+1*10**1)

12
41.04

In [28]:
a = "12.34"
b = int(float(a))# chain of function clause
print(b)

12