In [29]:
#1) + operator between two integers
a = 12
b = 15
c = a+b
print(c)

27

In [7]:
#2) + operator between one integer and one float
a = 12
b = 15.0152
c = a+b
print(c)

27.0152

In [9]:
#3) + operator between two strings
a = "apple"
b = "cat"
c = a+b
print(c)

applecat

In [11]:
#4) + operator between one string and one integer
a = "apple"
b = 12
c = a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [13]:
#5) + operator between one integer and one string
a = 12
b = "apple"
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
#6) + operator between integer and list
a = 12
b = ["hello",13,"bye"]
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [17]:
#7) + operator between list and integer 
a = 12
b = ["hello",13,"bye"]
c = b+a
print(c)

TypeError: can only concatenate list (not "int") to list

In [19]:
#8) + operator between string and list
a = "hi"
b = ["hello",13,"bye"]
c = a+b
print(c)

TypeError: can only concatenate str (not "list") to str

In [21]:
#9) + operator between list and string 
a = "hi"
b = ["hello",13,"bye"]
c = b+a
print(c)

TypeError: can only concatenate list (not "str") to list

In [23]:
#10) + operator between list & list
a = ["hi","asd",12]
b = ["hwllo",14]
c = a+b
d = b+a
print(c)
print(d)

['hi', 'asd', 12, 'hwllo', 14]
['hwllo', 14, 'hi', 'asd', 12]

In [35]:
#11) + operator between integer and tuple
a = 12
b = ("name","12","age")
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [37]:
#12) + operator between integer and tuple
a = 12
b = ("name","12","age")
c = b+a
print(c)

TypeError: can only concatenate tuple (not "int") to tuple

In [43]:
# 13)+ operator b/w str and tuple
a = "tej"
b = ("name","12","age")
c = a+b
print(c)

TypeError: can only concatenate str (not "tuple") to str

In [45]:
# 14)+ operator b/w str and tuple
a = "tej"
b = ("name","12","age")
c = b+a
print(c)

TypeError: can only concatenate tuple (not "str") to tuple

In [49]:
# 15)+ operator b/w tuple and tuple
a = ("tej","dev","12")
b = ("name","12","age")
c = a+b
d = b+a
print(c)
print(d)

('tej', 'dev', '12', 'name', '12', 'age')
('name', '12', 'age', 'tej', 'dev', '12')

In [55]:
# 16)+ operator b/w tuple and tuple
a = ["tej","dev","12"]
b = ("name","12","age")
c = a+b
print(c)

TypeError: can only concatenate list (not "tuple") to list

In [57]:
# 16)+ operator b/w int and dict
a = 12
b = {"name":"tej","age":15}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'dict'

In [59]:
# 17)+ operator b/w int and dict
a = 12
b = {"name":"tej","age":15}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

In [61]:
# 18)+ operator b/w int and dict
a = "12"
b = {"name":"tej","age":15}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'str'

In [65]:
# 19)+ operator b/w int and dict
a = "12"
b = {"name":"tej","age":15}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'str'

In [67]:
# 20) + operator b/w list and dict
a = ["tej","dev","12"]
b = {"name":"tej","age":15}
c = a+b
print(c)

TypeError: can only concatenate list (not "dict") to list

In [69]:
# 20) + operator b/w list and dict
a = ["tej","dev","12"]
b = {"name":"tej","age":15}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'list'

In [71]:
# 21) + operator b/w tuple and dict
a = ("tej","dev","12")
b = {"name":"tej","age":15}
c = a+b
print(c)

TypeError: can only concatenate tuple (not "dict") to tuple

In [73]:
# 22) + operator b/w tuple and dict
a = ["tej","dev","12"]
b = {"name":"tej","age":15}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'list'

In [77]:
# 23) + operator b/w dict and dict
a = {"tej":"dev","exp":"12"}
b = {"name":"tej","age":15}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [79]:
# 24) + operator b/w int and set
a = 12
b = {"name","teju",18,"hi"}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'set'

In [83]:
# 25) + operator b/w int and set
a = 12
b = {"name","teju",18,"hi"}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [85]:
# 26) + operator b/w str and set
a = "12"
b = {"name","teju",18,"hi"}
c = a+b
print(c)

TypeError: can only concatenate str (not "set") to str

In [87]:
# 27) + operator b/w str and set
a = "12"
b = {"name","teju",18,"hi"}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [89]:
# 28) + operator b/w list and set
a = ["tej","dev","12"]
b = {"name","teju",18,"hi"}
c = a+b
print(c)

TypeError: can only concatenate list (not "set") to list

In [91]:
# 29) + operator b/w list and set
a = ["tej","dev","12"]
b = {"name","teju",18,"hi"}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'list'

In [93]:
# 30) + operator b/w tuple and set
a = ("tej","dev","12")
b = {"name","teju",18,"hi"}
c = a+b
print(c)

TypeError: can only concatenate tuple (not "set") to tuple

In [95]:
# 31) + operator b/w tuple and set
a = ("tej","dev","12")
b = {"name","teju",18,"hi"}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'tuple'

In [97]:
# 32) + operator b/w dict and set
a = {"name":"tej","age":15}
b = {"name","teju",18,"hi"}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'set'

In [99]:
# 33) + operator b/w dict and set
a = {"name":"tej","age":15}
b = {"name","teju",18,"hi"}
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [101]:
# 34) + operator b/w set and set
a = {"name","tej","age",15}
b = {"name","teju",18,"hi"}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [107]:
# 38) + operator b/w int and bool(true & false)
a = 12
b = True
d = False
c = a+b
e = a+d
print(c)
print(e)

13
12

In [109]:
# 39) + operator b/w str and bool(true & false)
a = "122"
b = True
d = False
c = a+b
e = a+d
print(c)
print(e)

TypeError: can only concatenate str (not "bool") to str

In [111]:
# 40) + operator b/w list and bool(true & false)
a = ["tej","dev","12"]
b = True
d = False
c = a+b
e = a+d
print(c)
print(e)

TypeError: can only concatenate list (not "bool") to list

In [113]:
# 41) + operator b/w tuple and bool(true & false)
a = ("tej","dev","12")
b = True
d = False
c = a+b
e = a+d
print(c)
print(e)

TypeError: can only concatenate tuple (not "bool") to tuple

In [115]:
# 42) + operator b/w dict and bool(true & false)
a = {"tej":"dev"}
b = True
d = False
c = a+b
e = a+d
print(c)
print(e)

TypeError: unsupported operand type(s) for +: 'dict' and 'bool'

In [117]:
# 43) + operator b/w set and bool(true & false)
a = {"tej","dev"}
b = True
d = False
c = a+b
e = a+d
print(c)
print(e)

TypeError: unsupported operand type(s) for +: 'set' and 'bool'

In [119]:
# 44) + operator b/w int and None
a = 12
b = None
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [121]:
# 45) + operator b/w int and None
a = 12
b = None
c = b+a
print(c)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [123]:
# 46) + operator b/w str and None
a = "12"
b = None
c = a+b
print(c)

TypeError: can only concatenate str (not "NoneType") to str

In [127]:
# 47) + operator b/w list and None
a = ["tej","dev","12"]
b = None
c = a+b
print(c)

TypeError: can only concatenate list (not "NoneType") to list

In [129]:
# 48) + operator b/w tuple and None
a = ("tej","dev","12")
b = None
c = a+b
print(c)

TypeError: can only concatenate tuple (not "NoneType") to tuple

In [131]:
# 47) + operator b/w dict and None
a = {"tej":"dev"}
b = None
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'NoneType'

In [133]:
# 48) + operator b/w Set and None
a = {"tej","dev"}
b = None
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'NoneType'

In [135]:
# 49) + operator b/w list and None
a = True
b = None
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'bool' and 'NoneType'

In [137]:
# 50) + operator b/w None and None
a = None
b = None
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [3]:
print(2*"python")

pythonpython

In [5]:
print(2*[1,2])

[1, 2, 1, 2]

In [7]:
print(1+1.2)

2.2

In [11]:
print(1+{1:2,3:4})

TypeError: unsupported operand type(s) for +: 'int' and 'dict'

In [13]:
print(1+(10,20,30,4))

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [15]:
print(1+1+2j)

(2+2j)

In [17]:
print(1+{10,20,30})

TypeError: unsupported operand type(s) for +: 'int' and 'set'

In [19]:
print(1+True)# Internal type casting in this cell we were not converterd boolean value(True to integer. This is happened internally)

2

In [21]:
print(1+20.34)
#Int + float then int will converted to float

21.34

In [23]:
print(10+20)#sum
print("10"+"20")#concatenate
print(10+"20")# It's in confusion what to do summation or concatenation?

30
1020

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
print(10<20)

True

In [27]:
print("10"<9)

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
print("10"<"9")

True

In [33]:
print((1,2,3,4)<(10,-20,-30,-40)) #lexical comparision

True

In [43]:
print({1,2,3,4}>{2,3,4})# it follows subnets and supersets set1 is superset of set2

True

In [39]:
print({10,20,30,40}) # for set there won't be indexed object(won't follow order in memory)

{40, 10, 20, 30}

In [47]:
{1,2,3,4}>{3,1}

True

In [49]:
{1,2,3,4}>{3,1,200}

False

In [51]:
print(20==20)

True

In [59]:
print("apple"=="APPLE")
print(ord("a"))
print(ord("A"))

False
97
65

In [57]:
print(ord("p"))
print(ord("n"))

112
110

In [61]:
requires_params="id,name,age"
given_params="id,name,age"
print(requires_params==given_params)

True

In [63]:
requires_params="id,name,age"
given_params="id,age,name"
print(requires_params==given_params)

False

In [67]:
requires_params="id,name,age"
given_params="id,age,name"
print(requires_params==given_params)

False

In [71]:
requires_params={"id","name","age"}
given_params={"id","age","name"}
print(requires_params==given_params)

True

In [77]:
a=1000
b=1000
print(a==b)  # value attribute compares
print(a is b) # compares ids

True
False

In [79]:
a=1000
b=a
print(a==b)  # ==: value attribute compares
print(a is b) # is: compares ids

True
True