# Assignments on variables expressions and statements

### 1. Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs. Decide how many number of buses required

In [11]:
people = int(input("Enter total number of people:"))
seats = int(input("Enter number of seats for bus:"))
buses = (people+seats-1)//seats
print(f"Number of buses required is {buses}")

Enter total number of people: 46
Enter number of seats for bus: 30

Number of buses required is 2

### 2. take temperature from the user and convert Fahrenheit-> Celsius.

In [29]:
Fahrenheit = float(input("enter the temperature in Fahrenheit: "))
Celsius=(Fahrenheit-32)*5/9
print(f"Temperature in celsius is {Celsius}")

enter the temperature in Fahrenheit:  97.8

Temperature in celsius is 36.55555555555556

### 3.take temperature from the user and convert Celsius → Fahrenheit.

In [31]:
Celsius = float(input("Enter the temperature in Celsius: "))
Fahrenheit = (Celsius*9/5)+32
print(f" Temperature in Fahrenheit is {Fahrenheit}")

Enter the temperature in Celsius:  60.2

 Temperature in Fahrenheit is 140.36

### 4. take four number from the user (variables name it as x1,x2,x3,x4)
```
Do the below operations
 (x1+x2)**2, (x3+x4)**3
variance
standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
Regression
	y=mx+b
    m=1.23
    b=0.045
    find out y
    y=m*(x1+x2+x3+x4)+b
Find the average of four numbers
Find the sum of four numbers
```

In [213]:
import math
x1 = int(input("Enter value of x1: "))
x2 = int(input("Enter value of x2: "))
x3 = int(input("Enter value of x3: "))
x4 = int(input("Enter value of x4: "))
values = [x1,x2,x3,x4]
total_sum = sum(values)
print(total_sum)
# mean = total_sum / len(values)
# print(mean)
# m = 1.23
# b = 0.045
# y = m*total_sum+b
# # variance = (sum(x - mean for x in values)**2)/(len(values)-1)




# print(variance)

# print(variance)
# standard_deviation = math.sqrt(variance)
# a = (x1+x2)**2
# b = (x3+x4)**3
# print(f"value of (x1+x2)**2 is {a}\nvalue of (x3+x4)**3 is {b}\naverage of 4 numbers = {mean}\nsum of 4 numbers = {total_sum}\nvariance={variance}\nstandard deviation = {standard_deviation}")

Enter value of x1:  1
Enter value of x2:  2
Enter value of x3:  3
Enter value of x4:  4

TypeError: 'float' object is not callable

### 5.Take the distance in km. Show that in cm, meters, in milli meters, cents, feets, yards

In [39]:
km = float(input("distance in km: "))
cm = km*100000
m = km*1000
mm = km*1000000
cents = km*24710.5
ft = km*3280.84
yards = km*1093.61
print(f"{km}km ={cm}cm")
print(f"{km}km ={m}m")
print(f"{km}km ={mm}mm")
print(f"{km}km ={cents}cents")
print(f"{km}km ={ft}ft")
print(f"{km}km ={yards}yards")

distance in km:  9

9.0km =900000.0cm
9.0km =9000.0m
9.0km =9000000.0mm
9.0km =222394.5cents
9.0km =29527.56ft
9.0km =9842.49yards

### 6. Take the size of your hard disk in GB. Show that in MB, KB, TB, PB

In [53]:
GB = float(input("Enter the size of your hard disk in GB: "))
MB = GB*1024
KB = GB*1048576
TB = GB/1024
PB = GB/(1024**2)
print(f"{GB}GB = {MB}MB")
print(f"{GB}GB = {KB}KB")
print(f"{GB}GB = {TB}TB")
print(f"{GB}GB = {PB}PB")

Enter the size of your hard disk in GB:  9

9.0GB = 9216.0MB
9.0GB = 9437184.0KB
9.0GB = 0.0087890625TB
9.0GB = 8.58306884765625e-06PB

###    7.  Take name, age, height from the user and print like below
* The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [61]:
name = input("Enter the name of the person: ")
age = input("Enter the age of the person:")
height= input("Enter the height of the person:")
print(f"The details of the person: Name:{name} of the person, Age:{age} of the person, Height:{height} of the person")

Enter the name of the person:  tej
Enter the age of the person: 27
Enter the height of the person: 5'11"

The details of the person: Name:tej of the person, Age:27 of the person, Height:5'11" of the person

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [68]:
height_cm = float(input("Enter height in cm: "))
weight = float(input("Enter weight in kg: "))
height_m = height_cm/100
BMI = weight/(height_m**2)
print(f"BMI is {BMI}")

Enter height in cm:  155
Enter weight in kg:  80

BMI is 33.29864724245577

### 9. 
```
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
Note: Use format specifiers(%s, %d, %f)
```

In [90]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
print("Name: %s, Age: %.1f, Height: %.1f, Weight: %.3f"%(name,age,height,weight) )

Name: Jayaram, Age: 1.6, Height: 3.5, Weight: 10.344

### 10. Take three upper case letters from the user convert in to small case.

In [103]:
letter1 = input("Enter first uppercase letter: ")
letter2 = input("Enter second uppercase letter: ")
letter3 = input("Enter third uppercase letter: ")
letter1_lower = chr(ord(letter1)+32)
letter2_lower = chr(ord(letter2)+32)
letter3_lower = chr(ord(letter3)+32)
print(f"The lowercase letters are {letter1_lower},{letter2_lower},{letter3_lower}")

Enter first uppercase letter:  E
Enter second uppercase letter:  R
Enter third uppercase letter:  T

The lowercase letters are e,r,t

### 11. Take base and exponent value from the user and print like in mathematics:
  * example: base=2, exponent=3: 2<sup>3</sup>

  * Use: 2\u00b3

In [121]:
base = int(input("Enter base value: "))
exponent = int(input("Enter exponent value: "))
print(f"Base = {base}, Exponent = {exponent}: {base}^{exponent}")
print(f"Base = {base}, Exponent = {exponent}: {base}\u00b3")

Enter base value:  2
Enter exponent value:  5

Base = 2, Exponent = 5: 2^5
Base = 2, Exponent = 5: 2³

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost

In [140]:
cost1 = float(input("Cost of item 1: "))
cost2 = float(input("Cost of item 2: "))
cost3 = float(input("Cost of item 3: "))
costs = [cost1,cost2,cost3]
total_cost = sum(costs)
avg_cost = total_cost/len(costs)
max_cost = max(costs)
min_cost = min(costs)
print(f"Total Cost: {total_cost:.2f}/-\nAverage cost: {avg_cost:.2f}/-\nMaximun Cost: {max_cost:.2f}/-\nMinimum Cost: {min_cost:.2f}/-")

Cost of item 1:  85
Cost of item 2:  64
Cost of item 3:  98

Total Cost: 247.00/-
Average cost: 82.33/-
Maximun Cost: 98.00/-
Minimum Cost: 64.00/-

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)